calc {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
}

calc #calculator {
    opacity: 0;
    -webkit-animation: 1s bounceIn;
    animation: 1s bounceIn;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin: 10px;
    border-radius: 8px;
    color: #ffffff;
    box-shadow: 10px 10px 50px #00000080;
    margin: auto;
    height: 540px;
    width: 300px;
    background: #191b1d;
}

calc #calculator .screen-container {
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: right;
}

calc #calculator .screen-container .calculation,
calc #calculator .screen-container .result {
    width: 100%;
    height: 50%;
    padding-right: 15px;
}

calc #calculator .screen-container .result {
    display: flex;
    align-items: flex-end;
    color: #1939f6;
    justify-content: flex-end;
}

calc #calculator .screen-container .result .number {
    font-size: 50px;
    font-weight: 800;
}

calc #calculator .btn-container {
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
    position: relative;
}

calc #calculator .btn-container .oper-container {
    z-index: 10;
    opacity: 0;
    -webkit-animation: 1s bounceIn;
    animation: 1s bounceIn;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position: absolute;
    width: 50px;
    left: -25px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    top: -100px;
}

calc #calculator .btn-container .oper-container .btn {
    position: static;
    width: 50px;
    height: 50px;
    background: #1939f6;
    color: #1939f6;
    background: #ffffff;
    display: flex;
    cursor: pointer;
}

calc #calculator .btn-container .oper-container .btn .number {
    margin: auto;
}

calc #calculator .btn-container .oper-container .btn#clear.animate {
    -webkit-animation: fade 0.12s ease-in-out;
    animation: fade 0.12s ease-in-out;
    animation-direction: reverse;
}

calc #calculator .btn-container .oper-container .btn#clear {
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    background: #1e2022;
    border-radius: 8px 0px 0 0;
    font-size: 16px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
}

calc #calculator .btn-container .oper-container .btn#clear .number {
    margin: auto;
    color: #ffffff;
}

calc #calculator .btn-container .row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
}

calc #calculator .btn-container .row .btn {
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    border: 0.5px solid #191b1d;
    background: #1e2022;
}

.btn .number {
    opacity: 0;
    -webkit-animation: 1s fadeIn;
    animation: 1s fadeIn;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin: auto;
}

calc #calculator .btn-container .row .btn:nth-child(1) {
    border-left: none;
}

calc #calculator .btn-container .row .btn:nth-child(3) {
    border-right: none;
}

calc #calculator .btn-container .row .btn.animate {
    -webkit-animation: fade 0.12s ease-in-out;
    animation: fade 0.12s ease-in-out;
}

calc #calculator .btn-container .row .btn#result {
    position: absolute;
    right: -12px;
    bottom: -12px;
    width: calc(33% * 1.25);
    height: calc(100% * 1.25);
    background: #1939f6;
    border-bottom-right-radius: 8px;
    border: 0.5px rgba(0, 0, 0, 0.0001);
}

calc #calculator .btn-container .row .btn#result:not(.resetappearanim) {
    opacity: 0;
    -webkit-animation: 1s bounceIn;
    animation: 1s bounceIn;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

calc #calculator .btn-container .row .btn#result.animate {
    -webkit-animation: fade 0.12s ease-in-out;
    animation: fade 0.12s ease-in-out;
    animation-direction: reverse;
}

calc #calculator .btn-container .row .btn#dot {
    border-bottom-left-radius: 8px;
}

calc #calculator .btn-container .row:last-child .btn {
    border-bottom: none;
}

calc #calculator .btn-container .btn.operations.animate {
    -webkit-animation: fadeThird 0.12s ease-in-out;
    animation: fadeThird 0.12s ease-in-out;
    animation-direction: reverse;
}

calc #calculator .btn-container .btn.operations.divide {
    left: calc(33% - 25px);
    top: calc(25% - 25px);
}

calc #calculator .btn-container .btn.operations.multiplication {
    left: calc(66% - 25px);
    top: calc(25% - 25px);
}

calc #calculator .btn-container .btn.operations.plus {
    left: calc(66% - 25px);
    top: calc(50% - 25px);
}

calc #calculator .btn-container .btn.operations.less {
    left: calc(33% - 25px);
    top: calc(50% - 25px);
    border-radius: 0 0 8px 0;
}

@-webkit-keyframes fade {
    from {
        background: #1e2022;
    }

    to {
        background: #1939f6;
    }
}

@keyframes fade {
    from {
        background: #1e2022;
    }

    to {
        background: #1939f6;
    }
}

@-webkit-keyframes fadeThird {
    from {
        background: #ffffff;
    }

    to {
        background: #1e2022;
    }
}

@keyframes fadeThird {
    from {
        background: #ffffff;
    }

    to {
        background: #1e2022;
    }
}

@-webkit-keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounce {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounce {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
}

*:focus {
    outline: none;
}

@media screen and (max-width: 500px) {
    #app {
        -webkit-transform: scale(0.8) translateY(-50px);
        transform: scale(0.8) translateY(-50px);
    }
}

*::-moz-selection {
    background: #1939f6;
    color: #ffffff;
}

*::selection {
    background: #1939f6;
    color: #ffffff;
}

.modal-content {
    opacity: 0;
    -webkit-animation: 1s bounceIn;
    animation: 1s bounceIn;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color: transparent;
}

#rslt {
    opacity: 0;
    -webkit-animation: 1s bounceIn;
    animation: 1s bounceIn;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color: transparent;
}

.modal-header {
    background-Color: transparent;
    color: #163564;
    box-Shadow: -1px 4px 3px #ada5a5;
}

.app {
    width: 100vw;
    height: 100vh;
}